<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.young.modules" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    
    <uses-sdk	android:minSdkVersion="11" android:targetSdkVersion="19" />
    <application
        android:name="com.young.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="com.young.module.weather.AppLoadingActivity"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.young.module.weather.MainActivity"
            android:logo="@drawable/icon"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.young.module.location.CityManageActivity"
            android:logo="@drawable/icon"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:label="城市管理" >
        </activity>
        <activity
            android:name="com.young.module.location.CitySearchActivity"
            android:logo="@drawable/icon"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:label="" >
        </activity>
            
        <activity
            android:name="com.young.module.setting.SettingsActivity"
            android:logo="@drawable/icon"
            android:launchMode="singleTask" 
            android:screenOrientation="portrait"
            android:label="设置" />
    </application>

</manifest>